<h4>Observer</h4>

<p>
  O Observer é um padrão de projeto de software que define uma dependência um-para-muitos entre
  objetos, de modo que quando um objeto muda seu estado, todos seus dependentes são notificados e
  atualizados automaticamente.
</p>

<h5>Exemple</h5>
<img src="../patterns/behavioral/observerBefore.min.svg" alt="UML Before" />
<% for (const [key, value] of Object.entries(result)) { %>
<p><%= key %>: <%= value %></p>
<%} %>
