<h4>Template Method</h4>

<p>
  ​​O padrão Template Method define o esqueleto de um algoritmo dentro de um método, transferindo
  alguns de seus passos para subclasses.
</p>

<h5>Before</h5>
<img src="../patterns/behavioral/templateMethodBefore.min.svg" alt="UML Before" />
<% for (const [key, value] of Object.entries(before)) { %>
<p><%= key %>: <%= value %></p>
<%} %>

<h5>After</h5>
<img src="../patterns/behavioral/templateMethodAfter.min.svg" alt="UML After" />
<% for (const [key, value] of Object.entries(after)) { %>
<p><%= key %>: <%= value %></p>
<%} %>
