<h2>behavioral</h2>

<p>
  <a href="/behavioral/strategy">Strategy</a>
</p>
<p>
  <a href="/behavioral/template_method">Template Method</a>
</p>
<p>
  <a href="/behavioral/observer">Observer</a>
</p>
