<h4>Behavioral Strategy</h4>

<h5>Before</h5>
<% for (const [key, value] of Object.entries(before)) { %>
  <p><%= key %>: <%= value %> </p>
<%} %>

<h5>After</h5>
<% for (const [key, value] of Object.entries(after)) { %>
  <p><%= key %>: <%= value %> </p>
<%} %>
